<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.alexiwilius.sehirsenin">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDiuje4jTTgZzrGhhaJTEPC1oMxDl5iAsg" />

        <!--<meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAagFoWwr6fb_QewkbpWnfK5Rjo9Om4x2A" />-->

        <activity
            android:name=".view.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden|stateUnchanged">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".view.BusActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden|stateUnchanged">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
